.meal {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 1rem;
  padding-top: 1.5rem;
}
.mealImage {
  width: 100%;
}

.mealName {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.mealCategory {
  background-color: var(--orange);
  color: white;
  font-family: "Lilita One", cursive;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1rem;
  display: inline-block;
  clip-path: polygon(
    93% 24%,
    100% 53%,
    93% 80%,
    100% 100%,
    0 100%,
    0 0,
    100% 0
  );
}
.mealInstruction {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
